In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['figure.dpi']=200 # highres display

In [2]:
raw_data1 = pd.read_csv("archive2/2015.csv")
raw_data1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
raw_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [4]:
print(raw_data1.isnull().sum())

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [5]:
raw_data1.drop_duplicates()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [6]:
#raw_data1=raw_data1.drop(['Region','Happiness Rank','Family','Dystopia Residual'], axis=1)

In [7]:
#raw_data1=raw_data1.drop(['Region','Happiness Rank','Family','Dystopia Residual'], axis=1)
#s1_new = ['1', '2', '3', '4', '5', '6', '7', '8', 
#                  '9', '10', '11', '12', '13', '14', '15', '16', 
#                  '17', '18', '19', '20', '21', '22', '23', '24', 
#                  '25', '26', '27', '28', '29', '30', '31', '32', 
#                  '33', '34', '35', '36', '37', '38','39']
#name_c = ('Argentina', 'Australia', 'Bangladesh', 'Brazil', 'Canada', 'Switzerland', 
#          'Chile', 'China', 'Colombia', 'Algeria', 'Egypt', 'Ethiopia', 
#          'Ghana', 'Indonesia', 'India','Iran', 'Israel', 'Japan', 'Kazakhstan', 
#          'Mexico', 'Mozambique', 'Malaysia', 'Nigeria', 'New Zealand', 
#          'Pakistan', 'Peru', 'Philippines', 'Paraguay', 'Russia', 'Saudi Arabia', 'Sudan', 
#          'Thailand', 'Turkey', 'Tanzania', 'Ukraine', 'United States', 'Vietnam', 
#          'South Africa', 'Zambia')
#f1 = open("happiness_15.txt","w+")
#for c in range(0,38):
#    s1_new[c]=raw_data1.loc[raw_data1['Country']==name_c[c]]
#    print(s1_new[c],  file=f1)
#f1.close()

In [8]:
raw_data2 = pd.read_csv("archive2/2016.csv")
raw_data2.head(-10)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,South Sudan,Sub-Saharan Africa,143,3.832,3.596,4.068,0.39394,0.18519,0.15781,0.19662,0.13015,0.25899,2.50929
143,Chad,Sub-Saharan Africa,144,3.763,3.672,3.854,0.42214,0.63178,0.03824,0.12807,0.04952,0.18667,2.30637
144,Burkina Faso,Sub-Saharan Africa,145,3.739,3.647,3.831,0.31995,0.63054,0.21297,0.33370,0.12533,0.24353,1.87319
145,Uganda,Sub-Saharan Africa,145,3.739,3.629,3.849,0.34719,0.90981,0.19625,0.43653,0.06442,0.27102,1.51416
146,Yemen,Middle East and Northern Africa,147,3.724,3.621,3.827,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295

In [9]:
raw_data2=raw_data2.drop(['Region','Happiness Rank','Family','Dystopia Residual'], axis=1)

In [10]:
raw_data2.head()

,Country,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,7.526,7.460,7.592,1.44178,0.79504,0.57941,0.44453,0.36171
1,Switzerland,7.509,7.428,7.590,1.52733,0.86303,0.58557,0.41203,0.28083
2,Iceland,7.501,7.333,7.669,1.42666,0.86733,0.56624,0.14975,0.47678
3,Norway,7.498,7.421,7.575,1.57744,0.79579,0.59609,0.35776,0.37895
4,Finland,7.413,7.351,7.475,1.40598,0.81091,0.57104,0.41004,0.25492

In [11]:
#raw_data2=raw_data2.drop(['Region','Happiness Rank','Family','Dystopia Residual'], axis=1)
#s1_new = ['1', '2', '3', '4', '5', '6', '7', '8', 
#                  '9', '10', '11', '12', '13', '14', '15', '16', 
#                  '17', '18', '19', '20', '21', '22', '23', '24', 
#                  '25', '26', '27', '28', '29', '30', '31', '32', 
#                  '33', '34', '35', '36', '37', '38','39']
#name_c = ('Argentina', 'Australia', 'Bangladesh', 'Brazil', 'Canada', 'Switzerland', 
#          'Chile', 'China', 'Colombia', 'Algeria', 'Egypt', 'Ethiopia', 
#          'Ghana', 'Indonesia', 'India','Iran', 'Israel', 'Japan', 'Kazakhstan', 
#          'Mexico', 'Mozambique', 'Malaysia', 'Nigeria', 'New Zealand', 
#          'Pakistan', 'Peru', 'Philippines', 'Paraguay', 'Russia', 'Saudi Arabia', 'Sudan', 
#          'Thailand', 'Turkey', 'Tanzania', 'Ukraine', 'United States', 'Vietnam', 
#          'South Africa', 'Zambia')
#f1 = open("happiness_16.txt","w+")
#for c in range(0,38):
#    s1_new[c]=raw_data2.loc[raw_data2['Country']==name_c[c]]
#    print(s1_new[c],  file=f1)
#f1.close()

In [12]:
raw_data3 = pd.read_csv("archive2/2017.csv")
raw_data3.head(-10)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
140,Afghanistan,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
141,Botswana,142,3.766,3.874123,3.657877,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,0.377914
142,Benin,143,3.657,3.745784,3.568217,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,1.885631
143,Madagascar,144,3.644,3.714319,3.573681,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,1.584613
144,Haiti,145,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168

In [13]:
#raw_data3=raw_data3.drop(['Happiness.Rank','Family','Whisker.high','Whisker.low','Dystopia.Residual'], axis=1)
#s1_new = ['1', '2', '3', '4', '5', '6', '7', '8', 
#                  '9', '10', '11', '12', '13', '14', '15', '16', 
#                  '17', '18', '19', '20', '21', '22', '23', '24', 
#                  '25', '26', '27', '28', '29', '30', '31', '32', 
#                  '33', '34', '35', '36', '37', '38','39']
#name_c = ('Argentina', 'Australia', 'Bangladesh', 'Brazil', 'Canada', 'Switzerland', 
#          'Chile', 'China', 'Colombia', 'Algeria', 'Egypt', 'Ethiopia', 
#          'Ghana', 'Indonesia', 'India','Iran', 'Israel', 'Japan', 'Kazakhstan', 
#          'Mexico', 'Mozambique', 'Malaysia', 'Nigeria', 'New Zealand', 
#          'Pakistan', 'Peru', 'Philippines', 'Paraguay', 'Russia', 'Saudi Arabia', 'Sudan', 
#          'Thailand', 'Turkey', 'Tanzania', 'Ukraine', 'United States', 'Vietnam', 
#          'South Africa', 'Zambia')
#f1 = open("happiness_17.txt","w+")
#for c in range(0,38):
#    s1_new[c]=raw_data3.loc[raw_data3['Country']==name_c[c]]
#    print(s1_new[c],  file=f1)
#f1.close()

In [14]:
raw_data4 = pd.read_csv("archive2/2018.csv")
raw_data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [15]:
#raw_data4=raw_data4.drop(['Overall rank','Social support'], axis=1)
#s1_new = ['1', '2', '3', '4', '5', '6', '7', '8', 
#                  '9', '10', '11', '12', '13', '14', '15', '16', 
#                  '17', '18', '19', '20', '21', '22', '23', '24', 
#                  '25', '26', '27', '28', '29', '30', '31', '32', 
#                  '33', '34', '35', '36', '37', '38','39']
#name_c = ('Argentina', 'Australia', 'Bangladesh', 'Brazil', 'Canada', 'Switzerland', 
#          'Chile', 'China', 'Colombia', 'Algeria', 'Egypt', 'Ethiopia', 
#          'Ghana', 'Indonesia', 'India','Iran', 'Israel', 'Japan', 'Kazakhstan', 
#          'Mexico', 'Mozambique', 'Malaysia', 'Nigeria', 'New Zealand', 
#          'Pakistan', 'Peru', 'Philippines', 'Paraguay', 'Russia', 'Saudi Arabia', 'Sudan', 
#          'Thailand', 'Turkey', 'Tanzania', 'Ukraine', 'United States', 'Vietnam', 
#          'South Africa', 'Zambia')
#f1 = open("happiness_18.txt","w+")
#for c in range(0,38):
#    s1_new[c]=raw_data4.loc[raw_data4['Country or region']==name_c[c]]
#    print(s1_new[c],  file=f1)
#f1.close()

In [16]:
raw_data5 = pd.read_csv("archive2/2019.csv")
raw_data5.head(-10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
141,142,Comoros,3.973,0.274,0.757,0.505,0.142,0.275,0.078
142,143,Madagascar,3.933,0.274,0.916,0.555,0.148,0.169,0.041
143,144,Lesotho,3.802,0.489,1.169,0.168,0.359,0.107,0.093
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
145,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089

In [17]:
#raw_data5=raw_data5.drop(['Overall rank','Social support'], axis=1)
#s1_new = ['1', '2', '3', '4', '5', '6', '7', '8', 
#                  '9', '10', '11', '12', '13', '14', '15', '16', 
#                  '17', '18', '19', '20', '21', '22', '23', '24', 
#                  '25', '26', '27', '28', '29', '30', '31', '32', 
#                  '33', '34', '35', '36', '37', '38','39']
#name_c = ('Argentina', 'Australia', 'Bangladesh', 'Brazil', 'Canada', 'Switzerland', 
#          'Chile', 'China', 'Colombia', 'Algeria', 'Egypt', 'Ethiopia', 
#          'Ghana', 'Indonesia', 'India','Iran', 'Israel', 'Japan', 'Kazakhstan', 
#          'Mexico', 'Mozambique', 'Malaysia', 'Nigeria', 'New Zealand', 
#          'Pakistan', 'Peru', 'Philippines', 'Paraguay', 'Russia', 'Saudi Arabia', 'Sudan', 
#          'Thailand', 'Turkey', 'Tanzania', 'Ukraine', 'United States', 'Vietnam', 
#          'South Africa', 'Zambia')
#f1 = open("happiness_19.txt","w+")
#for c in range(0,38):
#    s1_new[c]=raw_data5.loc[raw_data5['Country or region']==name_c[c]]
#    print(s1_new[c],  file=f1)
#f1.close()

In [18]:
raw_data6 = pd.read_csv("happiness-cantril-ladder.csv")

In [19]:
raw_data6.head()

,Entity,Code,Year,Life satisfaction in Cantril Ladder (World Happiness Report 2019)
0,Afghanistan,AFG,2008,3.723590
1,Afghanistan,AFG,2009,4.401778
2,Afghanistan,AFG,2010,4.758381
3,Afghanistan,AFG,2011,3.831719
4,Afghanistan,AFG,2012,3.782938